---
---

@import "{{ site.theme }}";
h1, h2, h3, h4, h5, h6 {
  color: #e62146 !important;
}
.page-header {
  background-image: none;
  background-color: transparent;
}
.page-header .logo {
  width: 200px;
}
.btn, .btn:hover {
  background: #71c5c6;
  color: #ffffff;
}
